From: <Saved by Blink>
Snapshot-Content-Location: https://www.last.fm/static/styles/build/anhv1-af60b85f48.af60b85f48c5.css
Subject: 
Date: Fri, 24 Jul 2026 07:30:54 +0800
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--quKKiVLDHarAB25YeXdLpMugGYmyY5xucZ5l4W5Z6e----"


------MultipartBoundary--quKKiVLDHarAB25YeXdLpMugGYmyY5xucZ5l4W5Z6e----
Content-Type: text/html
Content-ID: <frame-CD493EFBCC581CDE986C174237C6EFAD@mhtml.blink>
Content-Transfer-Encoding: quoted-printable
Content-Location: https://www.last.fm/static/styles/build/anhv1-af60b85f48.af60b85f48c5.css

<html><head><meta http-equiv=3D"Content-Type" content=3D"text/html; charset=
=3Dwindows-1252"><link rel=3D"stylesheet" type=3D"text/css" href=3D"cid:css=
-77048252-1411-4d1a-9969-b080db33daf0@mhtml.blink" /><meta name=3D"color-sc=
heme" content=3D"light dark"><link id=3D"via_inject_css_blocker" type=3D"te=
xt/css" rel=3D"stylesheet" href=3D"https://www.last.fm/via_inject_blocker.c=
ss"></head><body><pre style=3D"word-wrap: break-word; white-space: pre-wrap=
;">/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.cs=
s */html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;line-heigh=
t:1.15}article,aside,footer,header,nav,section{display:block}h1{font-size:2=
em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40=
px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:mono=
space,monospace;font-size:1em}a{-webkit-text-decoration-skip:objects;backgr=
ound-color:transparent}abbr[title]{border-bottom:none;text-decoration:under=
line;-webkit-text-decoration:underline dotted;text-decoration:underline dot=
ted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-fami=
ly:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-=
color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height=
:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5e=
m}audio,video{display:inline-block}audio:not([controls]){display:none;heigh=
t:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgr=
oup,select,textarea{margin:0}button,input{overflow:visible}button,select{te=
xt-transform:none}[type=3Dreset],[type=3Dsubmit],button,html [type=3Dbutton=
]{-webkit-appearance:button}[type=3Dbutton]::-moz-focus-inner,[type=3Dreset=
]::-moz-focus-inner,[type=3Dsubmit]::-moz-focus-inner,button::-moz-focus-in=
ner{border-style:none;padding:0}[type=3Dbutton]:-moz-focusring,[type=3Drese=
t]:-moz-focusring,[type=3Dsubmit]:-moz-focusring,button:-moz-focusring{outl=
ine:1px dotted ButtonText}legend{box-sizing:border-box;color:inherit;displa=
y:table;max-width:100%;padding:0;white-space:normal}progress{display:inline=
-block;vertical-align:baseline}textarea{overflow:auto}[type=3Dcheckbox],[ty=
pe=3Dradio]{box-sizing:border-box;padding:0}[type=3Dnumber]::-webkit-inner-=
spin-button,[type=3Dnumber]::-webkit-outer-spin-button{height:auto}[type=3D=
search]{-webkit-appearance:textfield;outline-offset:-2px}[type=3Dsearch]::-=
webkit-search-cancel-button,[type=3Dsearch]::-webkit-search-decoration{-web=
kit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;=
font:inherit}details,menu{display:block}summary{display:list-item}canvas{di=
splay:inline-block}[hidden],template{display:none}body{margin:0}button{curs=
or:pointer}button[disabled]{cursor:default}button,input,optgroup,select,tex=
tarea{color:inherit}button{font-weight:inherit;letter-spacing:inherit}table=
{border-collapse:collapse;border-spacing:0}td,th{padding:0}h1,h2,h3,h4,h5{f=
ont-size:inherit;font-weight:inherit}address,blockquote,dl,h1,h2,h3,h4,h5,h=
6,ol,p,pre,ul{margin-bottom:0;margin-top:0}ol,ul{list-style-type:none;paddi=
ng-left:0}address{font-style:inherit}body{font-size:14px;line-height:21px}a=
rticle,section{margin-top:18px}article:first-child,section:first-child{marg=
in-top:0}@media (min-width:768px){article:first-child,section:first-child{m=
argin-top:0}article,section{margin-top:24px}}h1{font-size:24px;font-weight:=
700;line-height:30px;margin-bottom:-6px;margin-top:18px}h1:first-child{marg=
in-top:0}@media (min-width:768px){h1:first-child{margin-top:0}h1{font-size:=
30px;letter-spacing:-.4px;line-height:36px;margin-top:24px}}h2{font-size:20=
px;line-height:30px;margin-bottom:-6px;margin-top:18px}h2:first-child{margi=
n-top:0}@media (min-width:768px){h2:first-child{margin-top:0}h2{font-size:2=
4px;line-height:30px;margin-top:24px}}h3{font-size:18px;font-weight:700;lin=
e-height:24px;margin-bottom:-6px;margin-top:18px}h3:first-child{margin-top:=
0}@media (min-width:768px){h3:first-child{margin-top:0}h3{margin-top:24px}}=
h4{font-size:14px;font-weight:700;line-height:21px}h5{font-size:inherit;fon=
t-weight:400;margin-bottom:-6px;margin-top:18px}h5:first-child{margin-top:0=
}@media (min-width:768px){h5:first-child{margin-top:0}h5{margin-top:24px}}h=
6{font-size:inherit;font-weight:400;margin-bottom:-6px;margin-top:18px}h6:f=
irst-child{margin-top:0}@media (min-width:768px){h6:first-child{margin-top:=
0}h6{margin-top:24px}}address,blockquote,dl,ol,p,pre,ul{margin-bottom:0;mar=
gin-top:18px}address:first-child,blockquote:first-child,dl:first-child,ol:f=
irst-child,p:first-child,pre:first-child,ul:first-child{margin-top:0}@media=
 (min-width:768px){address:first-child,blockquote:first-child,dl:first-chil=
d,ol:first-child,p:first-child,pre:first-child,ul:first-child{margin-top:0}=
address,blockquote,dl,ol,p,pre,ul{margin-top:24px}}address+address,address+=
blockquote,address+dl,address+ol,address+p,address+pre,address+ul,blockquot=
e+address,blockquote+blockquote,blockquote+dl,blockquote+ol,blockquote+p,bl=
ockquote+pre,blockquote+ul,dl+address,dl+blockquote,dl+dl,dl+ol,dl+p,dl+pre=
,dl+ul,ol+address,ol+blockquote,ol+dl,ol+ol,ol+p,ol+pre,ol+ul,p+address,p+b=
lockquote,p+dl,p+ol,p+p,p+pre,p+ul,pre+address,pre+blockquote,pre+dl,pre+ol=
,pre+p,pre+pre,pre+ul,ul+address,ul+blockquote,ul+dl,ul+ol,ul+p,ul+pre,ul+u=
l{margin-top:12px}</pre></body></html>
