From: <Saved by Blink>
Snapshot-Content-Location: https://www.last.fm/static/styles/build/anhv2-c317032780.c31703278066.css
Subject: 
Date: Thu, 5 Mar 2026 08:19:53 +0800
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--WRBvleDnZX3Iso5wsmX730xM8ljuE9gvwkIM4x7USo----"


------MultipartBoundary--WRBvleDnZX3Iso5wsmX730xM8ljuE9gvwkIM4x7USo----
Content-Type: text/html
Content-ID: <frame-C90FC161B3CBA793038337DD9072A56B@mhtml.blink>
Content-Transfer-Encoding: quoted-printable
Content-Location: https://www.last.fm/static/styles/build/anhv2-c317032780.c31703278066.css

<html><head><meta http-equiv=3D"Content-Type" content=3D"text/html; charset=
=3Dwindows-1252"><link rel=3D"stylesheet" type=3D"text/css" href=3D"cid:css=
-cda78eed-30fd-4e57-b750-42c6885e2a63@mhtml.blink" /><link rel=3D"styleshee=
t" type=3D"text/css" href=3D"cid:css-e3bba04e-6efa-448a-b10d-59c0a807ffcb@m=
html.blink" /><meta name=3D"color-scheme" content=3D"light dark"><link id=
=3D"via_inject_css_blocker" type=3D"text/css" rel=3D"stylesheet" href=3D"ht=
tps://www.last.fm/via_inject_blocker.css"></head><body><pre style=3D"word-w=
rap: break-word; white-space: pre-wrap;">/*! normalize.css v6.0.0 | MIT Lic=
ense | github.com/necolas/normalize.css */html{-ms-text-size-adjust:100%;-w=
ebkit-text-size-adjust:100%;line-height:1.15}article,aside,footer,header,na=
v,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,m=
ain{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0=
;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{-webk=
it-text-decoration-skip:objects;background-color:transparent}abbr[title]{bo=
rder-bottom:none;text-decoration:underline;-webkit-text-decoration:underlin=
e dotted;text-decoration:underline dotted}b,strong{font-weight:inherit;font=
-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}=
dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size=
:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:b=
aseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}au=
dio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:ro=
ot){overflow:hidden}button,input,optgroup,select,textarea{margin:0}button,i=
nput{overflow:visible}button,select{text-transform:none}[type=3Dreset],[typ=
e=3Dsubmit],button,html [type=3Dbutton]{-webkit-appearance:button}[type=3Db=
utton]::-moz-focus-inner,[type=3Dreset]::-moz-focus-inner,[type=3Dsubmit]::=
-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=
=3Dbutton]:-moz-focusring,[type=3Dreset]:-moz-focusring,[type=3Dsubmit]:-mo=
z-focusring,button:-moz-focusring{outline:1px dotted ButtonText}legend{box-=
sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;whit=
e-space:normal}progress{display:inline-block;vertical-align:baseline}textar=
ea{overflow:auto}[type=3Dcheckbox],[type=3Dradio]{box-sizing:border-box;pad=
ding:0}[type=3Dnumber]::-webkit-inner-spin-button,[type=3Dnumber]::-webkit-=
outer-spin-button{height:auto}[type=3Dsearch]{-webkit-appearance:textfield;=
outline-offset:-2px}[type=3Dsearch]::-webkit-search-cancel-button,[type=3Ds=
earch]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-up=
load-button{-webkit-appearance:button;font:inherit}details,menu{display:blo=
ck}summary{display:list-item}canvas{display:inline-block}[hidden],template{=
display:none}body{margin:0}button{cursor:pointer}button[disabled]{cursor:de=
fault}button,input,optgroup,select,textarea{color:inherit}button{font-weigh=
t:inherit;letter-spacing:inherit}table{border-collapse:collapse;border-spac=
ing:0}td,th{padding:0}body{font-size:14px;line-height:21px}h1,h2,h3,h4,h5{f=
ont-size:inherit;font-weight:inherit}address,blockquote,dl,h1,h2,h3,h4,h5,h=
6,ol,p,pre,ul{margin-bottom:0;margin-top:0}ol,ul{list-style-type:none;paddi=
ng-left:0}address{font-style:inherit}</pre></body></html>
