From: <Saved by Blink>
Snapshot-Content-Location: https://m.sndcdn.com/_next/static/css/3290c8ff50a32419319b.css
Subject: 
Date: Thu, 5 Mar 2026 06:49:36 +0800
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--QmgWvL3kONgKWOVZ4Gwjs2qOXQOxHIGG61yTwmSXIW----"


------MultipartBoundary--QmgWvL3kONgKWOVZ4Gwjs2qOXQOxHIGG61yTwmSXIW----
Content-Type: text/html
Content-ID: <frame-0A1A1C953918A0DE8B8BC9423912326D@mhtml.blink>
Content-Transfer-Encoding: quoted-printable
Content-Location: https://m.sndcdn.com/_next/static/css/3290c8ff50a32419319b.css

<html><head><meta http-equiv=3D"Content-Type" content=3D"text/html; charset=
=3DUTF-8"><meta name=3D"color-scheme" content=3D"light dark"></head><body><=
pre style=3D"word-wrap: break-word; white-space: pre-wrap;">.Cell_Cell__1ut=
fG{display:flex;flex-direction:row;align-items:center}.Cell_Cell__1utfG.Cel=
l_Column__3_i42{flex-direction:column;max-width:-moz-fit-content;max-width:=
fit-content;align-items:center}.Cell_Cell__1utfG.Cell_Column__3_i42&gt;.Cel=
l_ButtonWrapper__15WzD{margin-top:16px;margin-top:var(--spacing-2x)}@media =
(max-width:350px){.Cell_Cell__1utfG.Cell_Column__3_i42&gt;.Cell_ButtonWrapp=
er__15WzD{margin-top:12px;margin-top:var(--spacing-1_5x)}}.Cell_CellLink__3=
yLVS{text-decoration:none;color:inherit}.Cell_CellLink__3yLVS.Cell_Top__21h=
go{align-self:flex-start}.Cell_Cell__1utfG.Cell_Fluid__3Ow9S{width:100%;fle=
x:1 1;overflow:hidden}.RatioBox_OuterBox__3FYNk{position:relative;width:100=
%;height:0}.RatioBox_InnerBox__M7kq9{position:absolute;top:0;bottom:0;left:=
0;right:0}.Artwork_ArtworkImage__1Ws9-{width:100%;height:auto;vertical-alig=
n:text-bottom}.Artwork_ArtworkBorder__3rZix{border:1px solid hsla(0,0%,50.2=
%,.3);background-clip:padding-box;box-sizing:border-box;overflow:hidden}.Ar=
twork_ArtworkBorderWithOutline__TZhlz{border:2px solid #fff;border:2px soli=
d var(--font-light-color);background-clip:padding-box;box-sizing:border-box=
;overflow:hidden}.Artwork_CircularArtwork__rfVyb{border-radius:50%}.Artwork=
_RoundedArtwork__124l2{border-radius:3%}.Artwork_ArtworkBottom__2Cg4K,.Artw=
ork_ArtworkMiddle__11DJ6,.Artwork_ArtworkTop__oWpE5{width:94%}.Artwork_Artw=
orkMiddle__11DJ6,.Artwork_ArtworkTop__oWpE5{filter:drop-shadow(2px 2px 4px =
rgba(0,0,0,.3))}.Artwork_ArtworkMiddle__11DJ6{position:absolute;z-index:-1;=
top:3%;left:3%;opacity:.7}.Artwork_ArtworkBottom__2Cg4K{position:absolute;z=
-index:-2;top:6%;left:6%;opacity:.4}.Artwork_GoPlus__hUG4V{position:absolut=
e;top:0;right:0;width:30px;height:16px;border-radius:2px}.Artwork_Loading__=
a1D-L{background-color:#f3f3f3;background-color:var(--highlight-color)}.Art=
work_Nano__kFL97{min-width:32px;width:32px;height:32px}.Artwork_Micro__3nIJ=
w{width:48px;height:48px}.Artwork_Small__321KU{width:64px;height:64px}.Artw=
ork_Medium__1IhSC{width:104px;height:104px}.Artwork_Large__1ksfk{width:160p=
x;height:160px}.Artwork_Large__1ksfk.Artwork_WithAction__1-Q5y{width:128px;=
height:128px}.Artwork_ExtraLarge__2cOnZ{width:100%;height:auto}@media (max-=
width:350px){.Artwork_Medium__1IhSC{width:74px;height:74px}.Artwork_Large__=
1ksfk{width:120px;height:120px}.Artwork_Large__1ksfk.Artwork_WithAction__1-=
Q5y{width:108px;height:108px}}.Metadata_CellMetadataCollection__2YcjV{displ=
ay:flex;flex-direction:row;flex-wrap:nowrap;align-items:center}.Metadata_Ce=
llIconMetadata__3LfIF,.Metadata_CellLabeledMetadata__3s6Tb{position:relativ=
e;display:flex;flex-direction:row;align-items:center;color:#666;color:var(-=
-secondary-color)}.Metadata_CellIconMetadata__3LfIF{margin-left:6px}.Metada=
ta_MetadataLabel__3GU8Y{font-weight:500;font-size:13px}.Metadata_MetadataIc=
on__Z0jRK{width:14px;height:14px;display:flex;justify-content:center;align-=
items:center;margin-right:2px}.Metadata_CellLabeledMetadata__3s6Tb:not(:fir=
st-child):before{content:"\2219";display:flex;flex-direction:row;align-item=
s:center;justify-content:center;margin:0 4px;width:3px;height:5px}.Informat=
ion_InfoSection__xy8SA{display:flex;flex-direction:column;justify-content:c=
enter;flex:1 1;margin-left:12px;overflow:hidden}.Information_CenteredConten=
t__1nvzI{align-items:center}.Information_CellSubtitle__1mXGx,.Information_C=
ellTitle__2KitR{font-weight:700;font-size:14px;overflow:hidden;text-overflo=
w:ellipsis;max-width:100%}.Information_CellTitle__2KitR{display:-webkit-box=
;-webkit-line-clamp:3;-webkit-box-orient:vertical}.Information_CellTitle__2=
KitR svg{margin-left:6px;vertical-align:text-top}.Information_CellSubtitle_=
_1mXGx{color:#666;color:var(--secondary-color);white-space:nowrap;margin-to=
p:1px}.Information_CellDetails__b5CtI{display:flex;flex-direction:column}.I=
nformation_CellMetadataCollection__1SVTy{display:flex;flex-direction:row;fl=
ex-wrap:nowrap;align-items:center}.Information_CellIconMetadata__2KBM5,.Inf=
ormation_CellLabeledMetadata__ctRrb{position:relative;display:flex;flex-dir=
ection:row;align-items:center;color:#666;color:var(--secondary-color)}.Info=
rmation_CellMetadataWrapper__2k1P0{margin-top:3px}.Information_CellIconMeta=
data__2KBM5{margin-left:6px}.Information_MetadataLabel__ZLAKn{font-weight:5=
00;font-size:13px}.Information_MetadataIcon__1C7LM{width:14px;height:14px;d=
isplay:flex;justify-content:center;align-items:center;margin-right:2px}.Inf=
ormation_CellLabeledMetadata__ctRrb:not(:first-child):before{content:"\2219=
";display:flex;flex-direction:row;align-items:center;justify-content:center=
;margin:0 4px;width:3px;height:5px}.Information_Micro__21SA6 .Information_C=
ellDetails__b5CtI{display:flex;flex-direction:row}.Information_Micro__21SA6=
 .Information_CellSubtitle__1mXGx{flex:0 0 auto;margin-right:4px}.Informati=
on_Micro__21SA6 .Information_CellTitle__2KitR,.Information_Small__CC3wz .In=
formation_CellTitle__2KitR{-webkit-line-clamp:1}.Information_Large__1gQjb .=
Information_CellTitle__2KitR{-webkit-line-clamp:5}.Information_Large__1gQjb=
 .Information_CellSubtitle__1mXGx,.Information_Large__1gQjb .Information_Ce=
llTitle__2KitR{font-size:17px}.Information_Column__Rmmxi{margin-left:0;marg=
in-top:8px;width:104px}.Information_Column__Rmmxi .Information_CellSubtitle=
__1mXGx,.Information_Column__Rmmxi .Information_CellTitle__2KitR{-webkit-li=
ne-clamp:1}.Information_Column__Rmmxi.Information_Micro__21SA6 .Information=
_CellSubtitle__1mXGx,.Information_Column__Rmmxi.Information_Micro__21SA6 .I=
nformation_CellTitle__2KitR,.Information_Column__Rmmxi.Information_Small__C=
C3wz .Information_CellSubtitle__1mXGx,.Information_Column__Rmmxi.Informatio=
n_Small__CC3wz .Information_CellTitle__2KitR{font-size:13px}.Information_Co=
lumn__Rmmxi.Information_Large__1gQjb .Information_CellSubtitle__1mXGx,.Info=
rmation_Column__Rmmxi.Information_Large__1gQjb .Information_CellTitle__2Kit=
R{font-size:14px}.Information_Column__Rmmxi.Information_Micro__21SA6{width:=
48px}.Information_Column__Rmmxi.Information_Small__CC3wz{width:64px}.Inform=
ation_Column__Rmmxi.Information_Large__1gQjb{width:160px}@media (max-width:=
350px){.Information_Column__Rmmxi.Information_Large__1gQjb{width:120px}}.In=
formation_Column__Rmmxi.Information_Large__1gQjb.Information_WithAction__3G=
Y5G{width:128px}@media (max-width:350px){.Information_Column__Rmmxi.Informa=
tion_Large__1gQjb.Information_WithAction__3GY5G{width:108px}}.UserCell_Titl=
eWithBadge__vae12{display:flex;align-items:center}.UserCell_Badge__1QjSo{co=
lor:#044dd2;color:var(--link-color)}.UserCell_TitleWithBadge__vae12&gt;.Use=
rCell_TitleText__2B36E{flex:1 1;max-width:-moz-fit-content;max-width:fit-co=
ntent;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.UserCell_T=
itleTextWithContext__2hqco{flex:1 1;max-width:-moz-fit-content;max-width:fi=
t-content;overflow:hidden;text-overflow:ellipsis;white-space:normal}.UserCe=
ll_CellTitleContext__1rkfO{font-size:13px;line-height:18px;font-weight:400;=
color:#666;color:var(--secondary-color)}.ThemeRoot_ThemeRoot__2tAb0{color:#=
121212;color:var(--primary-color)}.light_ThemeLight__2657u{--error-surface-=
rgb:255,235,238;--surface-color:#fff;--surface-rgb:255,255,255;--primary-co=
lor:#121212;--primary-rgb:18,18,18;--secondary-color:#666;--secondary-rgb:1=
02,102,102;--highlight-color:#f3f3f3;--highlight-rgb:243,243,243;--link-col=
or:#044dd2;--link-rgb:4,77,210;--overlay-color:rgba(18,18,18,0.4);--overlay=
-rgb:18,18,18,0.4;--imageBorder-color:rgba(18,18,18,0.15);--imageBorder-rgb=
:18,18,18,0.15;--artist-color:#5a45fd;--artist-rgb:90,69,253;--artist-pro-c=
olor:#6f5b37;--artist-pro-rgb:111,91,55;--artist-surface-color:#eee8fe;--ar=
tist-surface-rgb:238,232,254;--artist-pro-surface-color:#f4eedf;--artist-pr=
o-surface-rgb:244,238,223;--support-bg-color:#558b2f;--support-bg-rgb:85,13=
9,47;--support-text-color:#fff;--support-text-rgb:255,255,255;--support-hov=
er-bg-color:rgba(85,139,47,0.24);--support-hover-bg-rgb:85,139,47,0.24;--su=
pport-hover-text-color:#33691e;--support-hover-text-rgb:51,105,30;--backgro=
und-light-color:#fff;--background-dark-color:#121212;--background-surface-c=
olor:#fff;--background-highlight-color:#f3f3f3;--font-sans-serif-family:var=
(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",san=
s-serif,"Apple Color Emoji","Segoe UI Emoji";--font-monospace-family:"Monac=
o","Courier New",monospace;--font-light-color:#fff;--font-dark-color:#12121=
2;--font-special-color:#f50;--font-error-color:#d61348;--font-primary-color=
:#121212;--font-secondary-color:#666;--font-link-color:#044dd2;--button-lig=
ht-background-color:#fff;--button-light-font-color:#121212;--button-dark-ba=
ckground-color:#121212;--button-dark-font-color:#fff;--button-special-backg=
round-color:#f50;--button-special-font-color:#fff;--button-focused-box-shad=
ow:0 0 0 2px #044dd2 inset;--button-disabled-opacity:0.4;--button-active-op=
acity:0.4;--button-primary-background-color:#121212;--button-primary-font-c=
olor:#fff;--button-primary-hover-font-color:hsla(0,0%,100%,0.4);--button-pr=
imary-disabled-background-color:#121212;--button-primary-disabled-font-colo=
r:#fff;--button-primary-selected-background-color:#f3f3f3;--button-primary-=
selected-font-color:#121212;--button-primary-selected-hover-font-color:rgba=
(18,18,18,0.4);--button-primary-selected-active-background-color:#f3f3f3;--=
button-primary-selected-active-font-color:#121212;--button-primary-loading-=
background-color:#121212;--button-primary-loading-font-color:hsla(0,0%,100%=
,0.6);--button-primary-loading-icon-color:#fff;--button-primary-active-back=
ground-color:#121212;--button-primary-active-font-color:#fff;--button-secon=
dary-background-color:#f3f3f3;--button-secondary-font-color:#121212;--butto=
n-secondary-hover-font-color:rgba(18,18,18,0.4);--button-secondary-disabled=
-background-color:#f3f3f3;--button-secondary-disabled-font-color:#121212;--=
button-secondary-selected-background-color:#f3f3f3;--button-secondary-selec=
ted-font-color:#f50;--button-secondary-selected-hover-font-color:rgba(255,8=
5,0,0.4);--button-secondary-selected-active-background-color:#f3f3f3;--butt=
on-secondary-selected-active-font-color:#f50;--button-secondary-loading-bac=
kground-color:#f3f3f3;--button-secondary-loading-font-color:rgba(18,18,18,0=
.6);--button-secondary-loading-icon-color:#121212;--button-secondary-active=
-background-color:#f3f3f3;--button-secondary-active-font-color:#121212;--bu=
tton-tertiary-background-color:#fff;--button-tertiary-font-color:#121212;--=
button-tertiary-hover-font-color:rgba(18,18,18,0.4);--button-tertiary-disab=
led-background-color:#fff;--button-tertiary-disabled-font-color:#121212;--b=
utton-tertiary-selected-background-color:#fff;--button-tertiary-selected-fo=
nt-color:#f50;--button-tertiary-selected-hover-font-color:rgba(255,85,0,0.4=
);--button-tertiary-selected-active-background-color:#fff;--button-tertiary=
-selected-active-font-color:#f50;--button-tertiary-loading-background-color=
:#fff;--button-tertiary-loading-font-color:rgba(18,18,18,0.6);--button-tert=
iary-loading-icon-color:#121212;--button-tertiary-active-background-color:#=
fff;--button-tertiary-active-font-color:#121212;--overlay-default-color:rgb=
a(18,18,18,0.4);--link-standard-color:#044dd2;--link-standard-focus-outline=
:none;--link-standard-focus-box-shadow:0 0 0 2px #044dd2;--link-standard-te=
xt-decoration:none;--link-standard-active-color:rgba(4,77,210,0.6);--link-s=
tandard-hover-color:#044dd2;--link-standard-hover-text-decoration:underline=
;--link-standard-border-radius:4px;--link-standard-disabled-color:rgba(4,77=
,210,0.6);--link-primary-color:#121212;--link-primary-focus-box-shadow:0 0 =
0 2px #044dd2;--link-primary-disabled-color:rgba(18,18,18,0.6);--link-prima=
ry-active-color:rgba(18,18,18,0.6);--link-primary-hover-color:rgba(18,18,18=
,0.4);--link-primary-hover-text-decoration:none;--link-primary-border-radiu=
s:4px;--link-secondary-color:#666;--link-secondary-focus-box-shadow:0 0 0 2=
px #044dd2;--link-secondary-disabled-color:hsla(0,0%,40%,0.6);--link-second=
ary-active-color:hsla(0,0%,40%,0.6);--link-secondary-hover-color:hsla(0,0%,=
40%,0.4);--link-secondary-hover-text-decoration:none;--link-secondary-borde=
r-radius:4px;--tag-body-height:24px;--tag-body-padding:2px 8px;--tag-body-c=
ursor:pointer;--tag-body-border-radius:100px;--tag-body-user-select:none;--=
tag-body-touch-callout:none;--tag-body-white-space:nowrap;--tag-body-hover-=
text-decoration:none;--tag-disabled-opacity:60%;--tag-focused-box-shadow:0 =
0 0 2px #044dd2 inset;--tag-focused-outline:none;--tag-default-background-c=
olor:#f3f3f3;--tag-default-font-color:#121212;--tag-default-font-hover-colo=
r:rgba(18,18,18,0.4);--tag-selected-background-color:#121212;--tag-selected=
-font-color:#fff;--tag-selected-font-hover-color:hsla(0,0%,100%,0.4);--inpu=
t-default-background-color:#f3f3f3;--input-default-border-color:transparent=
;--input-default-font-color:#121212;--input-placeholder-background-color:#f=
3f3f3;--input-placeholder-border-color:transparent;--input-placeholder-font=
-color:#666;--input-focused-background-color:#f3f3f3;--input-focused-border=
-color:#666;--input-focused-font-color:#121212;--input-invalid-background-c=
olor:#f3f3f3;--input-invalid-border-color:#d61348;--input-invalid-font-colo=
r:#d61348;--input-disabled-background-color:rgba(18,18,18,0.15);--input-dis=
abled-border-color:transparent;--input-disabled-font-color:#121212;--checkb=
ox-default-background-color:transparent;--checkbox-default-border-color:#66=
6;--checkbox-checked-background-color:#f50;--checkbox-checked-border-color:=
#f50;--toggle-focused-box-shadow:0 0 0 2px #044dd2;--toggle-disabled-opacit=
y:60%;--toggle-body-width:40px;--toggle-body-height:24px;--toggle-body-bord=
er-radius:16px;--toggle-body-cursor:pointer;--toggle-body-user-select:none;=
--toggle-body-transition:all 0.2s;--toggle-handle-height:20px;--toggle-hand=
le-width:20px;--toggle-handle-border-radius:50px;--toggle-handle-left:2px;-=
-toggle-handle-top:2px;--toggle-handle-z-index:1;--toggle-handle-transition=
:all 0.2s;--toggle-icon-on-opacity:0;--toggle-icon-left:50%;--toggle-icon-t=
op:50%;--toggle-icon-transform:translate(-50%,-50%);--toggle-icon-transitio=
n:opacity 0.2s;--toggle-on-body-color:#f50;--toggle-on-body-hover-color:#f5=
0;--toggle-on-body-opacity:1;--toggle-on-body-transition:opacity 0.2s;--tog=
gle-on-handle-color:#fff;--toggle-on-handle-hover-color:hsla(0,0%,100%,0.4)=
;--toggle-on-handle-left:18px;--toggle-on-icon-off-opacity:0;--toggle-on-ic=
on-on-opacity:1;--toggle-off-body-color:#666;--toggle-off-body-hover-color:=
#666;--toggle-off-body-opacity:0;--toggle-off-handle-color:#fff;--toggle-of=
f-handle-hover-color:hsla(0,0%,100%,0.4);--typography-root-font-size:0.875e=
m;--typography-display3-font-size:2.2857142857142856rem;--typography-displa=
y3-font-weight:600;--typography-display3-line-height:2.5714285714285716rem;=
--typography-display3-letter-spacing:-0.04em;--typography-display3-font:600=
 2.2857142857142856rem/2.5714285714285716rem var(--font-main),system-ui,-ap=
ple-system,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji"=
,"Segoe UI Emoji";--typography-display2-font-size:2.857142857142857rem;--ty=
pography-display2-font-weight:600;--typography-display2-line-height:2.57142=
85714285716rem;--typography-display2-letter-spacing:-0.03em;--typography-di=
splay2-font:600 2.857142857142857rem/2.5714285714285716rem var(--font-main)=
,system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Appl=
e Color Emoji","Segoe UI Emoji";--typography-display1-font-size:4.285714285=
714286rem;--typography-display1-font-weight:600;--typography-display1-line-=
height:2.5714285714285716rem;--typography-display1-letter-spacing:-0.02em;-=
-typography-display1-font:600 4.285714285714286rem/2.5714285714285716rem va=
r(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sa=
ns-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-heading1-font-si=
ze:2rem;--typography-heading1-font-weight:600;--typography-heading1-line-he=
ight:2.5714285714285716rem;--typography-heading1-font:600 2rem/2.5714285714=
285716rem var(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucid=
a Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-head=
ing2-font-size:1.5714285714285714rem;--typography-heading2-font-weight:600;=
--typography-heading2-line-height:2rem;--typography-heading2-font:600 1.571=
4285714285714rem/2rem var(--font-main),system-ui,-apple-system,"Segoe UI",R=
oboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typ=
ography-heading3-font-size:1.2142857142857142rem;--typography-heading3-font=
-weight:600;--typography-heading3-line-height:1.7142857142857142rem;--typog=
raphy-heading3-font:600 1.2142857142857142rem/1.7142857142857142rem var(--f=
ont-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-se=
rif,"Apple Color Emoji","Segoe UI Emoji";--typography-heading4-font-size:1r=
em;--typography-heading4-font-weight:600;--typography-heading4-line-height:=
1.4285714285714286rem;--typography-heading4-font:600 1rem/1.428571428571428=
6rem var(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Gra=
nde",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-body-font=
-size:1rem;--typography-body-font-weight:400;--typography-body-line-height:=
1.4285714285714286rem;--typography-body-font:400 1rem/1.4285714285714286rem=
 var(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande"=
,sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-body1-font-si=
ze:1.2142857142857142rem;--typography-body1-font-weight:400;--typography-bo=
dy1-line-height:1.7142857142857142rem;--typography-body1-font:400 1.2142857=
142857142rem/1.7142857142857142rem var(--font-main),system-ui,-apple-system=
,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI=
 Emoji";--typography-body2-font-size:1rem;--typography-body2-font-weight:40=
0;--typography-body2-line-height:1.4285714285714286rem;--typography-body2-f=
ont:400 1rem/1.4285714285714286rem var(--font-main),system-ui,-apple-system=
,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI=
 Emoji";--typography-heading5-font-size:0.8571428571428571rem;--typography-=
heading5-font-weight:600;--typography-heading5-line-height:1.14285714285714=
28rem;--typography-heading5-font:600 0.8571428571428571rem/1.14285714285714=
28rem var(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Gr=
ande",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-captions=
-font-size:0.8571428571428571rem;--typography-captions-font-weight:400;--ty=
pography-captions-line-height:1.1428571428571428rem;--typography-captions-f=
ont:400 0.8571428571428571rem/1.1428571428571428rem var(--font-main),system=
-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color=
 Emoji","Segoe UI Emoji";--typography-heading6-font-size:0.7142857142857143=
rem;--typography-heading6-font-weight:600;--typography-heading6-letter-spac=
ing:0.1em;--typography-heading6-line-height:1.1428571428571428rem;--typogra=
phy-heading6-text-transform:uppercase;--typography-heading6-font:600 0.7142=
857142857143rem/1.1428571428571428rem var(--font-main),system-ui,-apple-sys=
tem,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe=
 UI Emoji";--typography-micro-font-size:0.7142857142857143rem;--typography-=
micro-font-weight:600;--typography-micro-letter-spacing:0.07142857142857142=
rem;--typography-micro-line-height:1.1428571428571428rem;--typography-micro=
-text-transform:uppercase;--typography-micro-font:600 0.7142857142857143rem=
/1.1428571428571428rem var(--font-main),system-ui,-apple-system,"Segoe UI",=
Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--sp=
acing-0_25x:2px;--spacing-0_5x:4px;--spacing-0_75x:6px;--spacing-1x:8px;--s=
pacing-1_25x:10px;--spacing-1_5x:12px;--spacing-1_75x:14px;--spacing-2x:16p=
x;--spacing-2_5x:20px;--spacing-3x:24px;--spacing-3_5x:28px;--spacing-4x:32=
px;--spacing-5x:40px;--spacing-6x:48px;--spacing-7x:56px;--spacing-8x:64px;=
--artwork-1x-size:8px;--artwork-2x-size:16px;--artwork-3x-size:24px;--artwo=
rk-4x-size:32px;--artwork-5x-size:40px;--artwork-6x-size:48px;--artwork-8x-=
size:64px;--artwork-13x-size:104px;--artwork-15x-size:120px;--artwork-16x-s=
ize:128px;--artwork-18x-size:144px;--artwork-20x-size:160px;--artwork-25x-s=
ize:200px;--artwork-29x-size:232px;--artwork-40x-size:320px;--artwork-42x-s=
ize:336px;--artwork-45x-size:360px;--artwork-64x-size:512px;--breakpoints-x=
s:480;--breakpoints-sm:768;--breakpoints-md:1152;--breakpoints-lg:1440;--br=
eakpoints-xl:1920;--borderRadiuses-4:4px;--borderRadiuses-8:8px;--borderRad=
iuses-10:10px;--borderRadiuses-16:16px;--borderRadiuses-20:20px;--borderRad=
iuses-50:50px;--borderRadiuses-100:100px}.dark_ThemeDark__1HqZ_,.light_Them=
eLight__2657u{--special-color:#f50;--special-rgb:255,85,0;--success-color:#=
008850;--success-rgb:0,136,80;--error-color:#d61348;--error-rgb:214,19,72;-=
-white-color:#fff;--white-rgb:255,255,255;--black-color:#121212;--black-rgb=
:18,18,18;--goPlus-color:linear-gradient(135deg,#9f34a9,#ff4600);--facebook=
-color:#003bb3;--facebook-rgb:0,59,179;--twitter-color:#1da1f2;--twitter-rg=
b:29,161,242;--pinterest-color:#e60023;--pinterest-rgb:230,0,35;--tumblr-co=
lor:#36465d;--tumblr-rgb:54,70,93;--transparent-color:transparent;--success=
-surface-color:#e6f7ee;--success-surface-rgb:230,247,238;--warning-surface-=
color:#fff8e1;--warning-surface-rgb:255,248,225;--error-surface-color:#ffeb=
ee}.dark_ThemeDark__1HqZ_{--error-surface-rgb:255,235,238;--surface-color:#=
121212;--surface-rgb:18,18,18;--primary-color:#fff;--primary-rgb:255,255,25=
5;--secondary-color:#999;--secondary-rgb:153,153,153;--highlight-color:#303=
030;--highlight-rgb:48,48,48;--link-color:#699fff;--link-rgb:105,159,255;--=
overlay-color:hsla(0,0%,100%,0.4);--overlay-rgb:255,255,255,0.4;--imageBord=
er-color:hsla(0,0%,100%,0.15);--imageBorder-rgb:255,255,255,0.15;--artist-c=
olor:#eee8fe;--artist-rgb:238,232,254;--artist-pro-color:#f4eedf;--artist-p=
ro-rgb:244,238,223;--artist-surface-color:#5a45fd;--artist-surface-rgb:90,6=
9,253;--artist-pro-surface-color:#6f5b37;--artist-pro-surface-rgb:111,91,55=
;--support-bg-color:#aed581;--support-bg-rgb:174,213,129;--support-text-col=
or:#33691e;--support-text-rgb:51,105,30;--support-hover-bg-color:#dcedc8;--=
support-hover-bg-rgb:220,237,200;--support-hover-text-color:#33691e;--suppo=
rt-hover-text-rgb:51,105,30;--background-light-color:#fff;--background-dark=
-color:#121212;--background-surface-color:#121212;--background-highlight-co=
lor:#303030;--font-sans-serif-family:var(--font-main),system-ui,-apple-syst=
em,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe =
UI Emoji";--font-monospace-family:"Monaco","Courier New",monospace;--font-l=
ight-color:#fff;--font-dark-color:#121212;--font-special-color:#f50;--font-=
error-color:#d61348;--font-primary-color:#fff;--font-secondary-color:#999;-=
-font-link-color:#699fff;--button-light-background-color:#fff;--button-ligh=
t-font-color:#121212;--button-dark-background-color:#121212;--button-dark-f=
ont-color:#fff;--button-special-background-color:#f50;--button-special-font=
-color:#fff;--button-focused-box-shadow:0 0 0 2px #044dd2 inset;--button-di=
sabled-opacity:0.4;--button-active-opacity:0.4;--button-primary-background-=
color:#fff;--button-primary-font-color:#121212;--button-primary-hover-font-=
color:rgba(18,18,18,0.4);--button-primary-disabled-background-color:#fff;--=
button-primary-disabled-font-color:#121212;--button-primary-selected-backgr=
ound-color:#303030;--button-primary-selected-font-color:#fff;--button-prima=
ry-selected-hover-font-color:hsla(0,0%,100%,0.4);--button-primary-selected-=
active-font-color:#fff;--button-primary-selected-active-background-color:#3=
03030;--button-primary-loading-background-color:#fff;--button-primary-loadi=
ng-font-color:rgba(18,18,18,0.6);--button-primary-loading-icon-color:#12121=
2;--button-primary-active-background-color:#fff;--button-primary-active-fon=
t-color:#121212;--button-secondary-background-color:#303030;--button-second=
ary-font-color:#fff;--button-secondary-hover-font-color:hsla(0,0%,100%,0.4)=
;--button-secondary-disabled-background-color:#303030;--button-secondary-di=
sabled-font-color:#fff;--button-secondary-selected-background-color:#303030=
;--button-secondary-selected-font-color:#f50;--button-secondary-selected-ho=
ver-font-color:rgba(255,85,0,0.4);--button-secondary-selected-active-backgr=
ound-color:#303030;--button-secondary-selected-active-font-color:#f50;--but=
ton-secondary-loading-background-color:#303030;--button-secondary-loading-f=
ont-color:hsla(0,0%,100%,0.6);--button-secondary-loading-icon-color:#fff;--=
button-secondary-active-background-color:#303030;--button-secondary-active-=
font-color:#fff;--button-tertiary-background-color:#121212;--button-tertiar=
y-font-color:#fff;--button-tertiary-hover-font-color:hsla(0,0%,100%,0.4);--=
button-tertiary-disabled-background-color:#121212;--button-tertiary-disable=
d-font-color:#fff;--button-tertiary-selected-background-color:#121212;--but=
ton-tertiary-selected-font-color:#f50;--button-tertiary-selected-hover-font=
-color:rgba(255,85,0,0.4);--button-tertiary-selected-active-background-colo=
r:#121212;--button-tertiary-selected-active-font-color:#f50;--button-tertia=
ry-loading-background-color:#121212;--button-tertiary-loading-font-color:hs=
la(0,0%,100%,0.6);--button-tertiary-loading-icon-color:#fff;--button-tertia=
ry-active-background-color:#121212;--button-tertiary-active-font-color:#fff=
;--overlay-default-color:hsla(0,0%,100%,0.4);--link-standard-color:#699fff;=
--link-standard-focus-outline:none;--link-standard-focus-box-shadow:0 0 0 2=
px #699fff;--link-standard-text-decoration:none;--link-standard-active-colo=
r:rgba(105,159,255,0.6);--link-standard-hover-color:#699fff;--link-standard=
-hover-text-decoration:underline;--link-standard-border-radius:4px;--link-s=
tandard-disabled-color:rgba(105,159,255,0.6);--link-primary-color:#fff;--li=
nk-primary-focus-box-shadow:0 0 0 2px #699fff;--link-primary-disabled-color=
:hsla(0,0%,100%,0.6);--link-primary-active-color:hsla(0,0%,100%,0.6);--link=
-primary-hover-color:hsla(0,0%,100%,0.4);--link-primary-hover-text-decorati=
on:none;--link-primary-border-radius:4px;--link-secondary-color:#999;--link=
-secondary-focus-box-shadow:0 0 0 2px #699fff;--link-secondary-disabled-col=
or:hsla(0,0%,60%,0.6);--link-secondary-active-color:hsla(0,0%,60%,0.6);--li=
nk-secondary-hover-color:hsla(0,0%,60%,0.4);--link-secondary-hover-text-dec=
oration:none;--link-secondary-border-radius:4px;--tag-body-height:24px;--ta=
g-body-padding:2px 8px;--tag-body-cursor:pointer;--tag-body-border-radius:1=
00px;--tag-body-user-select:none;--tag-body-touch-callout:none;--tag-body-w=
hite-space:nowrap;--tag-body-hover-text-decoration:none;--tag-disabled-opac=
ity:60%;--tag-focused-box-shadow:0 0 0 2px #699fff inset;--tag-focused-outl=
ine:none;--tag-default-background-color:#303030;--tag-default-font-color:#f=
ff;--tag-default-font-hover-color:hsla(0,0%,100%,0.4);--tag-selected-backgr=
ound-color:#fff;--tag-selected-font-color:#121212;--tag-selected-font-hover=
-color:rgba(18,18,18,0.4);--input-default-background-color:#303030;--input-=
default-border-color:transparent;--input-default-font-color:#fff;--input-pl=
aceholder-background-color:#303030;--input-placeholder-border-color:transpa=
rent;--input-placeholder-font-color:#999;--input-focused-background-color:#=
303030;--input-focused-border-color:#999;--input-focused-font-color:#fff;--=
input-invalid-background-color:#303030;--input-invalid-border-color:#d61348=
;--input-invalid-font-color:#d61348;--input-disabled-background-color:hsla(=
0,0%,100%,0.15);--input-disabled-border-color:transparent;--input-disabled-=
font-color:#fff;--checkbox-default-background-color:transparent;--checkbox-=
default-border-color:#666;--checkbox-checked-background-color:#f50;--checkb=
ox-checked-border-color:#f50;--toggle-focused-box-shadow:0 0 0 2px #044dd2;=
--toggle-disabled-opacity:60%;--toggle-body-width:40px;--toggle-body-height=
:24px;--toggle-body-border-radius:16px;--toggle-body-cursor:pointer;--toggl=
e-body-user-select:none;--toggle-body-transition:all 0.2s;--toggle-handle-h=
eight:20px;--toggle-handle-width:20px;--toggle-handle-border-radius:50px;--=
toggle-handle-left:2px;--toggle-handle-top:2px;--toggle-handle-z-index:1;--=
toggle-handle-transition:all 0.2s;--toggle-icon-on-opacity:0;--toggle-icon-=
left:50%;--toggle-icon-top:50%;--toggle-icon-transform:translate(-50%,-50%)=
;--toggle-icon-transition:opacity 0.2s;--toggle-on-body-color:#f50;--toggle=
-on-body-hover-color:#f50;--toggle-on-body-opacity:1;--toggle-on-body-trans=
ition:opacity 0.2s;--toggle-on-handle-color:#121212;--toggle-on-handle-hove=
r-color:rgba(18,18,18,0.4);--toggle-on-handle-left:18px;--toggle-on-icon-of=
f-opacity:0;--toggle-on-icon-on-opacity:1;--toggle-off-body-color:#999;--to=
ggle-off-body-hover-color:#999;--toggle-off-body-opacity:0;--toggle-off-han=
dle-color:#121212;--toggle-off-handle-hover-color:rgba(18,18,18,0.4);--typo=
graphy-root-font-size:0.875em;--typography-display3-font-size:2.28571428571=
42856rem;--typography-display3-font-weight:600;--typography-display3-line-h=
eight:2.5714285714285716rem;--typography-display3-letter-spacing:-0.04em;--=
typography-display3-font:600 2.2857142857142856rem/2.5714285714285716rem va=
r(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sa=
ns-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-display2-font-si=
ze:2.857142857142857rem;--typography-display2-font-weight:600;--typography-=
display2-line-height:2.5714285714285716rem;--typography-display2-letter-spa=
cing:-0.03em;--typography-display2-font:600 2.857142857142857rem/2.57142857=
14285716rem var(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Luc=
ida Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-di=
splay1-font-size:4.285714285714286rem;--typography-display1-font-weight:600=
;--typography-display1-line-height:2.5714285714285716rem;--typography-displ=
ay1-letter-spacing:-0.02em;--typography-display1-font:600 4.285714285714286=
rem/2.5714285714285716rem var(--font-main),system-ui,-apple-system,"Segoe U=
I",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji";-=
-typography-heading1-font-size:2rem;--typography-heading1-font-weight:600;-=
-typography-heading1-line-height:2.5714285714285716rem;--typography-heading=
1-font:600 2rem/2.5714285714285716rem var(--font-main),system-ui,-apple-sys=
tem,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe=
 UI Emoji";--typography-heading2-font-size:1.5714285714285714rem;--typograp=
hy-heading2-font-weight:600;--typography-heading2-line-height:2rem;--typogr=
aphy-heading2-font:600 1.5714285714285714rem/2rem var(--font-main),system-u=
i,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color E=
moji","Segoe UI Emoji";--typography-heading3-font-size:1.2142857142857142re=
m;--typography-heading3-font-weight:600;--typography-heading3-line-height:1=
.7142857142857142rem;--typography-heading3-font:600 1.2142857142857142rem/1=
.7142857142857142rem var(--font-main),system-ui,-apple-system,"Segoe UI",Ro=
boto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typo=
graphy-heading4-font-size:1rem;--typography-heading4-font-weight:600;--typo=
graphy-heading4-line-height:1.4285714285714286rem;--typography-heading4-fon=
t:600 1rem/1.4285714285714286rem var(--font-main),system-ui,-apple-system,"=
Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI E=
moji";--typography-body-font-size:1rem;--typography-body-font-weight:400;--=
typography-body-line-height:1.4285714285714286rem;--typography-body-font:40=
0 1rem/1.4285714285714286rem var(--font-main),system-ui,-apple-system,"Sego=
e UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI Emoji=
";--typography-body1-font-size:1.2142857142857142rem;--typography-body1-fon=
t-weight:400;--typography-body1-line-height:1.7142857142857142rem;--typogra=
phy-body1-font:400 1.2142857142857142rem/1.7142857142857142rem var(--font-m=
ain),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"=
Apple Color Emoji","Segoe UI Emoji";--typography-body2-font-size:1rem;--typ=
ography-body2-font-weight:400;--typography-body2-line-height:1.428571428571=
4286rem;--typography-body2-font:400 1rem/1.4285714285714286rem var(--font-m=
ain),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"=
Apple Color Emoji","Segoe UI Emoji";--typography-heading5-font-size:0.85714=
28571428571rem;--typography-heading5-font-weight:600;--typography-heading5-=
line-height:1.1428571428571428rem;--typography-heading5-font:600 0.85714285=
71428571rem/1.1428571428571428rem var(--font-main),system-ui,-apple-system,=
"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color Emoji","Segoe UI =
Emoji";--typography-captions-font-size:0.8571428571428571rem;--typography-c=
aptions-font-weight:400;--typography-captions-line-height:1.142857142857142=
8rem;--typography-captions-font:400 0.8571428571428571rem/1.142857142857142=
8rem var(--font-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Gra=
nde",sans-serif,"Apple Color Emoji","Segoe UI Emoji";--typography-heading6-=
font-size:0.7142857142857143rem;--typography-heading6-font-weight:600;--typ=
ography-heading6-letter-spacing:0.1em;--typography-heading6-line-height:1.1=
428571428571428rem;--typography-heading6-text-transform:uppercase;--typogra=
phy-heading6-font:600 0.7142857142857143rem/1.1428571428571428rem var(--fon=
t-main),system-ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-seri=
f,"Apple Color Emoji","Segoe UI Emoji";--typography-micro-font-size:0.71428=
57142857143rem;--typography-micro-font-weight:600;--typography-micro-letter=
-spacing:0.07142857142857142rem;--typography-micro-line-height:1.1428571428=
571428rem;--typography-micro-text-transform:uppercase;--typography-micro-fo=
nt:600 0.7142857142857143rem/1.1428571428571428rem var(--font-main),system-=
ui,-apple-system,"Segoe UI",Roboto,"Lucida Grande",sans-serif,"Apple Color =
Emoji","Segoe UI Emoji";--spacing-0_25x:2px;--spacing-0_5x:4px;--spacing-0_=
75x:6px;--spacing-1x:8px;--spacing-1_25x:10px;--spacing-1_5x:12px;--spacing=
-1_75x:14px;--spacing-2x:16px;--spacing-2_5x:20px;--spacing-3x:24px;--spaci=
ng-3_5x:28px;--spacing-4x:32px;--spacing-5x:40px;--spacing-6x:48px;--spacin=
g-7x:56px;--spacing-8x:64px;--artwork-1x-size:8px;--artwork-2x-size:16px;--=
artwork-3x-size:24px;--artwork-4x-size:32px;--artwork-5x-size:40px;--artwor=
k-6x-size:48px;--artwork-8x-size:64px;--artwork-13x-size:104px;--artwork-15=
x-size:120px;--artwork-16x-size:128px;--artwork-18x-size:144px;--artwork-20=
x-size:160px;--artwork-25x-size:200px;--artwork-29x-size:232px;--artwork-40=
x-size:320px;--artwork-42x-size:336px;--artwork-45x-size:360px;--artwork-64=
x-size:512px;--breakpoints-xs:480;--breakpoints-sm:768;--breakpoints-md:115=
2;--breakpoints-lg:1440;--breakpoints-xl:1920;--borderRadiuses-4:4px;--bord=
erRadiuses-8:8px;--borderRadiuses-10:10px;--borderRadiuses-16:16px;--border=
Radiuses-20:20px;--borderRadiuses-50:50px;--borderRadiuses-100:100px}.Modal=
_ModalOverlay__Z9tIa,.Modal_ModalOverlayNoAnimation__29YHN{background-color=
:transparent;position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1;=
transition:z-index .7s ease-in-out,background-color .7s ease-in-out}.Modal_=
ModalOverlayNoAnimation__29YHN{transition:none}.Modal_ModalOverlayisVisible=
__NOgE1{z-index:9999;background-color:rgba(18,18,18,.4);background-color:va=
r(--overlay-color)}.Modal_Modal__17Lu7{position:absolute;bottom:0;width:100=
%;max-height:90%;background-color:#fff;background-color:var(--surface-color=
);box-sizing:border-box;transform:translateY(105%) scaleY(.9);transition:tr=
ansform .7s ease-in-out}.Modal_LargeScreenModal__3g9gi{position:absolute;le=
ft:50%;bottom:50%;width:567px;max-height:80%;transform:translate(-50%,150%)=
;visibility:hidden;transition:transform .7s ease-in-out,visibility .2s ease=
-in-out}.Modal_ModalisVisible__9jKdc{transform:translateY(0) scaleY(1);over=
flow:scroll}.Modal_LargeScreenModalIsVisible__1K3dY{transform:translate(-50=
%,50%);overflow:auto;visibility:visible}.Modal_ModalHeader__15acS{position:=
relative}.Modal_RoundedTopCorners__15_8v{border-radius:16px 16px 0 0}.Modal=
_RoundedCorners__20jpv{border-radius:4px}.Modal_ModalTitle__LS1eO{margin:0 =
16px;margin:0 var(--spacing-2x)}.Modal_ModalHeaderAbsolute__3tWgx{position:=
absolute;right:0;top:0}.Modal_ModalCloseContainer__3q8xX{height:32px;positi=
on:relative;margin:16px 16px 0;margin:var(--spacing-2x) var(--spacing-2x) 0=
}.Modal_ModalCloseForTitle__3Qid7{display:block;float:right}.Modal_ModalClo=
seForImage__1MDcV{position:absolute;z-index:100;right:0;margin-top:16px;mar=
gin-top:var(--spacing-2x);margin-right:16px;margin-right:var(--spacing-2x)}=
.Modal_ModalCloseOverlayPosition__32lsN{position:absolute;right:0;z-index:1=
}.Modal_PositionFull__3tDFA{height:100%}.Modal_PositionFullSmallScreen__3WY=
R8{max-height:100%}.Modal_PositionFullScreen__2nDkW{width:100%;min-height:1=
00vh;border-radius:0}.Modal_NoScroll__2hCnm{height:100%;overflow:hidden}.Mo=
dal_FullScreenModalNoAnimation__3XAvY{position:absolute;visibility:visible;=
transition:none;width:100%;max-height:100%;height:100%;border-radius:0}.Shr=
inkwrapText_Span__2CjCC{line-height:1.5em;background-color:#fff;background-=
color:var(--surface-color);box-shadow:.25em 0 0 .25em #fff,-.25em 0 0 .25em=
 #fff;box-shadow:.25em 0 0 .25em var(--surface-color),-.25em 0 0 .25em var(=
--surface-color)}.AppDownloadContent_Background__25nUR{background:linear-gr=
adient(90deg,#6a12d2,#e70272);overflow:hidden;text-align:center}.AppDownloa=
dContent_Title__1y3Om{color:#fff;color:var(--font-light-color);font:600 1.5=
714285714285714rem/2rem var(--font-main),system-ui,-apple-system,Segoe UI,R=
oboto,Lucida Grande,sans-serif,Apple Color Emoji,Segoe UI Emoji;font:var(--=
typography-heading2-font)}.AppDownloadContent_Subtitle__2Zxle{color:#fff;co=
lor:var(--font-light-color);font:600 1rem/1.4285714285714286rem var(--font-=
main),system-ui,-apple-system,Segoe UI,Roboto,Lucida Grande,sans-serif,Appl=
e Color Emoji,Segoe UI Emoji;font:var(--typography-heading4-font);font-weig=
ht:500}.AppDownloadContent_MobileAppImageContainer__1LuNz{background-color:=
transparent}.AppDownloadContent_MobileAppImage__1G0NI{width:100%}.AppDownlo=
adContent_AppDownloadModalClose__1_xh0{position:absolute;top:18px;right:16p=
x;background-color:#f3f3f3;background-color:var(--highlight-color);width:36=
px;height:36px;border-radius:100%;border:0;outline:0;color:#121212;color:va=
r(--primary-color);text-shadow:none;box-shadow:none;transition:none;cursor:=
pointer;padding:4px}.RepostCell_RepostTitle__1Wkub{display:block;position:a=
bsolute;bottom:9%;left:3%;margin:0 56px 0 8px;font-size:17px;font-weight:70=
0;word-break:break-word}.RepostCell_RepostContainer__3F5Bp{position:relativ=
e;flex:1 1;max-height:80vh;max-width:80vh}.RepostCell_RepostMetadata__vuNv2=
{display:inline-flex}.ReceivedCommentCell_AvatarWithReadState__2BV18{margin=
-top:6px;margin-top:var(--spacing-0_75x);display:flex;align-items:center;al=
ign-self:flex-start;gap:8px;gap:var(--spacing-1x)}.ReceivedCommentCell_Read=
StateIcon__2oImw.ReceivedCommentCell_Read__20xn2{color:#fff;color:var(--sur=
face-color)}.ReceivedCommentCell_ReadStateIcon__2oImw.ReceivedCommentCell_U=
nread__332Lp{color:#d61348;color:var(--error-color)}.ReceivedCommentCell_Co=
mment__1jpob{display:flex;flex-direction:column;gap:4px;gap:var(--spacing-0=
_5x);margin-left:12px;margin-left:var(--spacing-1_5x)}.ReceivedCommentCell_=
CommentTitle__1DZ2j{display:inline-flex;flex-wrap:wrap;flex-direction:row;a=
lign-items:center;-moz-column-gap:4px;column-gap:4px;-moz-column-gap:var(--=
spacing-0_5x);column-gap:var(--spacing-0_5x)}.ReceivedCommentCell_ElapsedTi=
me__SnQf5{color:#666;color:var(--secondary-color)}.ReceivedCommentCell_Veri=
fiedBadge__1mWTA{color:#044dd2;color:var(--link-color)}.Content_ContentSect=
ion__2crfa{margin-left:12px;overflow:hidden}.StackedUserAvatars_Container__=
1GyfI{display:flex;padding-top:8px;padding-bottom:8px;color:#666;color:var(=
--secondary-color);font-weight:700}.StackedUserAvatars_Avatars__4ThMv{displ=
ay:flex}.StackedUserAvatars_Metadata__30TSz{padding:8px}.StackedUserAvatars=
_StackableUserCell__2dHnx{z-index:-1}.StackedUserAvatars_StackableUserCell_=
_2dHnx:not(:last-child){margin-right:-8px}.OpenAppPrompt_LinkAsPrimaryButto=
n__3MNrt,.OpenAppPrompt_LinkAsTertiaryButton__3l-ty{height:auto;font-weight=
:700;background-color:transparent;background-color:var(--transparent-color)=
;color:#121212;color:var(--primary-color);cursor:pointer;padding:8px 0;padd=
ing:var(--spacing-1x) 0;border-radius:4px;display:block;text-align:center}.=
OpenAppPrompt_LinkAsPrimaryButton__3MNrt{background-color:#121212;backgroun=
d-color:var(--primary-color);color:#fff;color:var(--surface-color)}.OpenApp=
Prompt_NativeLinksContainer__2MCrX{margin-left:max(16px,env(safe-area-inset=
-left));margin-left:max(var(--spacing-2x),env(safe-area-inset-left));margin=
-right:max(16px,env(safe-area-inset-right));margin-right:max(var(--spacing-=
2x),env(safe-area-inset-right))}.OpenAppPrompt_NativeLinksButtonContainer__=
2xIIj{margin-top:24px;margin-top:var(--spacing-3x)}.OpenAppPrompt_ButtonSpa=
cer__2Vu5F{padding-bottom:8px;padding-bottom:var(--spacing-1x)}.BaseButton_=
BaseButton__RweeB{box-sizing:border-box;position:relative;display:inline-fl=
ex;align-items:center;justify-content:center;text-align:center;white-space:=
nowrap;-webkit-user-select:none;-moz-user-select:none;user-select:none;bord=
er:none}button.BaseButton_BaseButton__RweeB{cursor:pointer;outline:0}button=
.BaseButton_Focus__2F7N1{box-shadow:0 0 0 2px #044dd2;box-shadow:0 0 0 2px =
var(--link-color)}.BaseButton_BaseButton__RweeB&gt;*{pointer-events:none}.B=
utton_shared_Button__4WBj-,.Button_shared_Button__4WBj-:visited{color:var(-=
-_button-text-color);background-color:var(--_button-background-color);gap:8=
px;gap:var(--spacing-1x)}.Button_shared_Button__4WBj-.Button_shared_Hover__=
3PZLU{color:rgba(var(--_button-text-rgb),.4)}.Button_shared_Button__4WBj-:a=
ctive{color:rgba(var(--_button-text-rgb),.4);opacity:.6}.Button_shared_Butt=
on__4WBj-:disabled{color:var(--_button-text-color);opacity:.6;cursor:defaul=
t}.Button_shared_Button__4WBj-.Button_shared_ActiveLoadingState__2bWNt{colo=
r:rgba(var(--_button-text-rgb),.6);opacity:1}.Button_Icon__3wYxw{width:16px=
;height:16px}.Button_FullWidth__2H1V2{width:100%}.Button_Primary__ka8Iw{--_=
button-text-color:var(--surface-color);--_button-text-rgb:var(--surface-rgb=
);--_button-background-color:var(--primary-color)}.Button_Secondary__1PO5K{=
--_button-text-color:var(--primary-color);--_button-text-rgb:var(--primary-=
rgb);--_button-background-color:var(--highlight-color)}.Button_Tertiary__3-=
xll{--_button-text-color:var(--primary-color);--_button-text-rgb:var(--prim=
ary-rgb);--_button-background-color:var(--transparent-color)}.Button_Small_=
_24r7c{min-height:32px;padding:6px 12px;padding:var(--spacing-0_75x) var(--=
spacing-1_5x);border-radius:4px}.Button_Medium__3vYzd{min-height:40px;paddi=
ng:10px 16px;padding:var(--spacing-1_25x) var(--spacing-2x);border-radius:4=
px}.Button_Large__1eBox{min-height:48px;padding:14px 16px;padding:var(--spa=
cing-1_75x) var(--spacing-2x);border-radius:4px}.Button_Small__24r7c.Button=
_InactiveLoadingState__eP5Rl{padding:6px 24px;padding:var(--spacing-0_75x) =
var(--spacing-3x)}.Button_Medium__3vYzd.Button_InactiveLoadingState__eP5Rl{=
padding:10px 28px;padding:var(--spacing-1_25x) var(--spacing-3_5x)}.Button_=
Large__1eBox.Button_InactiveLoadingState__eP5Rl{padding:14px 28px;padding:v=
ar(--spacing-1_75x) var(--spacing-3_5x)}.IconButton_IconButton__2J1S7{borde=
r-radius:100%}.IconButton_Icon__1aKtO{width:24px;height:24px}.IconButton_Sm=
all__2kgfh{height:32px;width:32px;padding:4px;padding:var(--spacing-0_5x)}.=
IconButton_Medium__RyeT6{height:40px;width:40px;padding:8px;padding:var(--s=
pacing-1x)}.IconButton_Large__3HvoG{height:48px;width:48px;padding:12px;pad=
ding:var(--spacing-1_5x)}.MicroButton_MicroButton__36MGp{display:flex;paddi=
ng:0;min-height:16px;border-radius:4px}.MicroButton_MicroButton__36MGp.Micr=
oButton_InactiveLoadingState__3FlAt{padding:0 12px;padding:0 var(--spacing-=
1_5x)}.MicroButton_Primary__1aOgS{--_button-text-color:var(--primary-color)=
;--_button-text-rgb:var(--primary-rgb);--_button-background-color:var(--tra=
nsparent-color)}.MicroButton_Secondary__SZiTd{--_button-text-color:var(--se=
condary-color);--_button-text-rgb:var(--secondary-rgb);--_button-background=
-color:var(--transparent-color)}.PlaybackButton_PlaybackButton__tVekW{borde=
r-radius:100%;border:2px solid rgba(18,18,18,.15);border:2px solid var(--im=
ageBorder-color);padding:8px;padding:var(--spacing-1x);--_button-text-color=
:var(--primary-color);--_button-text-rgb:var(--primary-rgb);--_button-backg=
round-color:var(--transparent-color)}.PlaybackButton_PlaybackButton__tVekW&=
gt;svg{width:48px;height:48px}.Engagement_EngagementCollection__2CGGR,.Enga=
gement_EngagementItem__DBRbj{display:flex;flex-direction:row;flex-wrap:nowr=
ap;align-items:center}.Engagement_EngagementItem__DBRbj{outline:0}.Engageme=
nt_EngagementCollection__2CGGR .Engagement_EngagementItem__DBRbj{margin-rig=
ht:20px;min-width:40px;min-height:40px;justify-content:center}.Engagement_E=
ngagementItem__DBRbj:last-child{margin-right:0}@media (max-width:350px){.En=
gagement_EngagementItem__DBRbj{margin-right:16px}}.Engagement_EngagementLab=
el__2PEJl{font-size:13px;margin-left:4px}.MoreActionMenuContent_MoreActionM=
enuContainer__1_KHA{width:90%;padding:16px 8px 0;padding:var(--spacing-2x) =
var(--spacing-1x) 0;margin:0}.MoreActionMenuContent_MoreActionMenuButtonWra=
pper__1NNTJ{display:flex;flex-direction:row;align-items:center}.MoreActionM=
enuContent_MoreActionMenuLabel__2tmCo{width:100%;color:#666;color:var(--sec=
ondary-color)}.MoreActionMenuContent_MoreActionMenuIconColor__dSJIC{color:#=
666;color:var(--secondary-color)}.MoreActionMenuContent_MoreActionMenuRepor=
tContentButton__2O6GD{background-color:transparent;background-color:var(--t=
ransparent-color);color:#666;color:var(--secondary-color);cursor:pointer;al=
ign-items:center;display:flex}.MoreActionMenuContent_Spacer__1N8uN{padding-=
bottom:16px;padding-bottom:var(--spacing-2x)}.BackButton_BackButton__3LUcd,=
.BackButton_BackLink__1XkNl{color:#121212;color:var(--primary-color);backgr=
ound-color:#f3f3f3;background-color:var(--highlight-color);border-radius:10=
0%;width:36px;height:36px}.BackButton_BackButton__3LUcd{text-shadow:none;bo=
x-shadow:none;transition:none;padding:0;border:0;outline:0}.BackButton_Back=
Link__1XkNl{display:inline-block}.TikTokOpenAppModalContent_tikTokOpenAppMo=
dalContainer__1jJA-{margin:max(16px,env(safe-area-inset-top)) max(16px,env(=
safe-area-inset-right)) max(16px,env(safe-area-inset-bottom)) max(16px,env(=
safe-area-inset-left));margin:max(var(--spacing-2x),env(safe-area-inset-top=
)) max(var(--spacing-2x),env(safe-area-inset-right)) max(var(--spacing-2x),=
env(safe-area-inset-bottom)) max(var(--spacing-2x),env(safe-area-inset-left=
));font:400 1.2142857142857142rem/1.7142857142857142rem var(--font-main),sy=
stem-ui,-apple-system,Segoe UI,Roboto,Lucida Grande,sans-serif,Apple Color =
Emoji,Segoe UI Emoji;font:var(--typography-body1-font);color:#121212;color:=
var(--primary-color)}.ControlButton_ControlButton___qsiE{display:flex;align=
-items:center;border:0;outline:0}.ControlButton_DarkBtn__17hNi{text-decorat=
ion:none;justify-content:center;border-radius:100%;color:#fff;color:var(--s=
urface-color);background-color:#121212;background-color:var(--primary-color=
);width:64px;height:64px}.ControlButton_LightBtn__2DbMs{flex-direction:row;=
color:#666;color:var(--secondary-color);width:32px;background:none;padding:=
0}.ControlButton_PlayButtonIcon__2BcGf{width:40px;height:40px}.ControlButto=
n_PauseButtonIcon__1uSsq{width:22px;height:28px}.ControlButton_LoadingIcon_=
_3TAcP{width:34px;height:34px}.ControlButton_ShuffleBtnMediumIcon__2a3Qu{wi=
dth:39px;height:39px}.ControlButton_ShuffleBtnSmallIcon__1X0vr{width:32px}.=
ControlButton_DisabledButton__X59Q7{opacity:.4}.SectionHeader_SectionHeader=
__3nw45{display:flex;flex-direction:row;align-items:flex-end}.SectionHeader=
_TitleSection__3oktu{flex:1 1;display:flex;flex-direction:column}.SectionHe=
ader_TitleText__1pCQw{flex:1 1;font-weight:700;padding-right:10px;margin:0;=
word-break:break-word;overflow-wrap:break-word}.SectionHeader_PageTitleText=
__2NmqS{font:600 2rem/2.5714285714285716rem var(--font-main),system-ui,-app=
le-system,Segoe UI,Roboto,Lucida Grande,sans-serif,Apple Color Emoji,Segoe =
UI Emoji;font:var(--typography-heading1-font)}.SectionHeader_Large__iBD1e{f=
ont:600 1.5714285714285714rem/2rem var(--font-main),system-ui,-apple-system=
,Segoe UI,Roboto,Lucida Grande,sans-serif,Apple Color Emoji,Segoe UI Emoji;=
font:var(--typography-heading2-font)}.SectionHeader_Medium__SHaZ0{font:600 =
1.2142857142857142rem/1.7142857142857142rem var(--font-main),system-ui,-app=
le-system,Segoe UI,Roboto,Lucida Grande,sans-serif,Apple Color Emoji,Segoe =
UI Emoji;font:var(--typography-heading3-font)}.SectionHeader_Small__3ijoL{f=
ont:600 1rem/1.4285714285714286rem var(--font-main),system-ui,-apple-system=
,Segoe UI,Roboto,Lucida Grande,sans-serif,Apple Color Emoji,Segoe UI Emoji;=
font:var(--typography-heading4-font)}.SectionHeader_SectionTitleText__AH_9f=
{font-size:22px}.SectionHeader_SubtitleText__J0DlL{flex:1 1;font-size:14px;=
font-weight:700;padding-right:10px;margin:0;color:#666;color:var(--secondar=
y-color)}.SectionHeader_SeeAllLink__2R5TB{display:flex;flex-direction:row;a=
lign-items:center;color:#666;color:var(--secondary-color);font-size:13px;fo=
nt-weight:700;padding-bottom:6px}.SectionHeader_BackButton__3WeE1{vertical-=
align:middle;margin-right:32px}.SectionHeader_TitleWithPrefix__1zVqf{font-s=
ize:17px!important}.SectionHeader_ArtworkLink__3LWOJ{align-self:center}.Mod=
als_CtaButton__1GvjT{width:100%}.Modals_ModalContentContainer__3uhoo{margin=
-bottom:max(16px,env(safe-area-inset-bottom));margin-bottom:max(var(--spaci=
ng-2x),env(safe-area-inset-bottom));margin-left:max(16px,env(safe-area-inse=
t-left));margin-left:max(var(--spacing-2x),env(safe-area-inset-left));margi=
n-right:max(16px,env(safe-area-inset-right));margin-right:max(var(--spacing=
-2x),env(safe-area-inset-right))}</pre></body></html>
------MultipartBoundary--QmgWvL3kONgKWOVZ4Gwjs2qOXQOxHIGG61yTwmSXIW------
